body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #1f87c4;
}

#menu ul li:hover{
    background: #1f87c4;
}

.buttom-more{
    background: #1f87c4;
}

.ui-accordion .ui-accordion-header-active{
    background: #1f87c4;
    color: #FFFFFF;
}

#reloj, #fecha{
    background: #1f87c4;
}

#send_contact{
    background: #1f87c4;
    color: white;
}
